# Default ignored files
/shelf/
/workspace.xml
out/
XML/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
python_visualize/
venv/

/build/
/.vscode/
/resources/XMark2.xml
/resources/DBLP.xml

/python/build/
/python/*.pydVALIDATION.md
